@charset "UTF-8";
body {
	background-image: url(../images/background.png);
}
.col-md-8 {
	background-color: #00000013;
}
.col-md-4 {
	
	text-align: center;
}
.footer.navbar-fixed-bottom {
	background-color: #777B7F;
	border-top: thin solid #17C1C1;
	text-align: center;
}

.footer.navbar-fixed-bottom a {
	padding-right: 30px;
}
