@charset "UTF-8";
body {
	background-image: url(../images/background.png);
}
.col-md-8 {
	background-color: #00000013;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: justify;
}
.navbar.navbar-default .container .navbar-header {
	border-bottom-width: thin;
	border-bottom-color: #17C1C1;
}
.col-md-4 {
	
	text-align: center;
}
.footer.navbar-fixed-bottom {
	background-color: #cccccceb;
	border-top: thin solid #17C1C1;
	text-align: center;
}

.footer.navbar-fixed-bottom a {
	padding-right: 30px;
}
