@charset "UTF-8";
body {
	background-image: url(../../../../assests/images/backgroundmade.gif);
}
.jumbotron {
	background-color: 255, 255, 255, 0.81;
	padding-top: 30px;
	padding-bottom: 30px;
}
.container {
	background-color: #738AE6;
}
