

body{
	background-color: #378900;
	font-family: "Raleway", "Arial", "Helvetica", "Helvetica Neue", sans-serif;
}

.container{
	margin:0 auto;
	width:596px;
	background:white;
	padding:20px;
}

#gameField{
	position: relative;
	margin-top: 42px;
	height: 306px;
	color: #fff;
	background: #732281;
	
}

#instructionsField{
	margin-top: 42px;
	background: #732281;
	color: #CCCCCC;	
}

.gameHeader{
	border-bottom:1px solid #ccc;
	overflow:hidden;
	padding:0 0 15px;
}

.gameHeader h1{
	float:left;
	font-weight:700;
	margin-left:20px;
}

#lifeCount{
	float:right;
}

#messageField{
	padding-bottom: 30px;
	text-align:center;
	font-weight:700;
	margin-top:0px;
	line-height: 1.2em;
}

.gameFooter{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:80px;
}

.btnWrap{
	position:relative;
	margin:auto;
	width:140px;
}

.btn{
	position: relative;
	width:140px;
	padding:10px;
	border-radius: 6px;
	border:none;
	color:#fff;
	font-weight:700;
	font-size:12px;
	padding:15px 25px;
	outline: none;
	cursor:pointer;
}

.btn:active{
	top:3px;
	border-bottom-width: 1px;
}

#startBtn{
	background:#48ba22;
	border-bottom:3px solid #008000;
	box-shadow: 0px 0px 7px #080d1c;
}

#startBtn:hover{
	background: #44b020;
}

#playAgain{
	background: #ff145d;
	border-bottom:3px solid #800019;
	box-shadow: 0px 0px 7px #080d1c;
}

#tryAgain{
	background: #ff145d;
	border-bottom:3px solid #800019;
	box-shadow: 0px 0px 7px #080d1c;
}

.wordWrap{
	position:relative;
	width:55%;
	margin:auto;
	height:47px;
	background:rgba(215, 227, 244, .1);
	border-radius: 6px;
	text-align:center;
	color: rgba(255, 255, 255, 1);
	font-weight:700;
	line-height: 47px;
}

.mask{
	border-bottom: 1px solid #ffffff;
	padding:0 8px;
	margin:0px 5px;
}

.unMask{
	border-bottom: 1px solid #ffffff;
	padding:0 3px;
	margin:0 5px;
}

#wins{
	width:50%;
	float:left;
}

#wrongGuesses{
	width:50%;
	float:left;
}

footer{
	margin-top:20px;
	border-top: 1px solid #888;
	height:30px;
	line-height: 30px;
	font-weight:500;
}
